 
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-md-right text-sm-center imgback font-italic cont" style="padding:8%; ">
 <pre  class="font-weight-bolder display-4" style="font-family: 'Source Serif Pro', serif;" >
     it's n<span style="color:orange;">o</span>t just  
     f<span style="color:orange;">oo</span>d ,It's <span style="color:orange;">a</span>n
      Experience.</pre>
    <a class="btn font-weight-bold p-2  mt-2" style="background-color:orange;margin-right:10%; font-family:"'Roboto', sans-serif;"> Show Resturant </a>

</div>

<div class="cont pl-5 pt-2  pb-2 mt-1 " >
    <div class="input-group w-auto text-center ml-auto search" >
         <label class="form-label font-weight-bold pt-1" for="form1">Search your favorite restaurant : </label>
        <div class="form-outline">
          <input  type="search" style="width:100%" id="form1" placeholder="Search  restaurant" class="form-control ml-4" />
         
        </div>
        <button type="button" class="btn pl-3 h-auto ml-4 " style="background-color:orange;">
         <i class="fas fa-search"></i>
       </button>
</div>

</div>